<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545461968866-tp8m1176lr6eep68h21oc78nd75ojt7b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545461968866-tp8m1176lr6eep68h21oc78nd75ojt7b</string>
	<key>API_KEY</key>
	<string>AIzaSyC8asbW9GvLByhzQh3dZuV_s71h7L5bgi4</string>
	<key>GCM_SENDER_ID</key>
	<string>545461968866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fukase.inabaApp4</string>
	<key>PROJECT_ID</key>
	<string>bzsortgame</string>
	<key>STORAGE_BUCKET</key>
	<string>bzsortgame.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545461968866:ios:bfe496260fe029737623bb</string>
	<key>DATABASE_URL</key>
	<string>https://bzsortgame.firebaseio.com</string>
</dict>
</plist>